RootConstantsPerformance/.vs/
RootConstantsPerformance/x64/
RootConstantsPerformance/Debug/
RootConstantsPerformance/Release/
RootConstantsPerformance/*.sln
RootConstantsPerformance/*.vcxproj
RootConstantsPerformance/*.filters
RootConstantsPerformance/*.user